body{
  background-color: #303030;
}

/*--------------------------*/
.navbar{
  margin: 0;
  border: none;
}

#myNavbar ul li a, #brand{
  color: white;
}

.content{
  width: 50%;
  color: white;
}


.navbar, footer{
  background-color: black;
  color: white;
}
