body{
  background-color: #303030;
  color: white;
}

.navbar{
  background-color: black;
  border: none;
}

#myNavbar ul li a, #brand{
  color: white;
}
/*----------------------------------------*/

img{
  width: 100%;
}

/*----------------------------------------*/
h3{
  float: right;
}

.desc{
  margin-top: 10%;
}
