body{
  background-color: #303030;
}

.jumbotron{
  color: white;
}

img{
  width: 50%;
}

h3{
  color: white;
}

input[type="submit"], input[type="file"], button{
  background-color: #b78900;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}

.jumbotron{
  background: black !important;
}
